# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\fgr_ssm\furn_ssm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
